################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SystemForLearning0409/.vs/SystemForLearning/v16/Browse.VC.opendb
/.vs/shooting_game_1/v16/Browse.VC.opendb
